/* ==|== Normalize ==========================================================
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
/*
 * @license
 * MyFonts Webfont Build ID 1122576, 2011-09-07T15:53:19-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Museo 300 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo/300/
 * 
 * Webfont: Museo 500 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo/500/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=1122576
 * Licensed pageviews: unlimited
 * Webfonts copyright: Copyright (c) 2008 by Jos Buivenga/exljbris. All rights reserved.
 * 
 * © 2011 Bitstream Inc
*/
 @font-face {font-family: 'Museo-300';src: url('../webfonts/112110_0.eot');src: url('../webfonts/112110_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/112110_0.woff') format('woff'),url('../webfonts/112110_0.ttf') format('truetype'),url('../webfonts/112110_0.svg#wf') format('svg');}
 @font-face {font-family: 'Museo-500';src: url('../webfonts/112110_1.eot');src: url('../webfonts/112110_1.eot?#iefix') format('embedded-opentype'),url('../webfonts/112110_1.woff') format('woff'),url('../webfonts/112110_1.ttf') format('truetype'),url('../webfonts/112110_1.svg#wf') format('svg');}
/* ==|== primary styles =====================================================
   Author: Paulo Barcelos
   ========================================================================== */
 /* COLORS -------------------------------------------------------------------
	Will be accessed via JS
----------------------------------------------------------------------------*/

/* base ---------------------------------------------------------------------- */
body {font-family: "Georgia", "Times New Roman", serif; font-weight: normal; font-style: normal; color:#999; margin:0; background-color: #ddd;}

body.yellow { background-color: #FFFEDE; }
body.red { background-color: #FFE1E1; }
body.green { background-color: #DFF9D9; }
body.blue { background-color: #DAF4F7; }
 
h1,
h2,
h3,
h4,
h5 { font-family: Museo-500; font-weight: normal; font-style: normal; }


/* HEADER -------------------------------------------------------------------*/
.ie6 #header {text-align:center;}
#header .logo {width: 166px; margin: 0;}
#header .logotype { width: 166px; height: 29px; background: url('../img/sprites/logos.png') no-repeat -312px 0; margin: 0 0 0px 0;}
#header .description { font-size: 15px; color: #666; margin: 2px 0 0 0;}
#mainnavigation ul { list-style: none; position:relative; width: 800px; margin: 0 auto 0 auto;}
#mainnavigation li {display: inline-block; width: 135px; height: 135px; margin: 0 30px; position:relative; background-color: #EDEBEB; border: solid 1px #ccc;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.ie7 #mainnavigation li,
.ie6 #mainnavigation li {display: inline;}
#mainnavigation li .selected {background-color: #fff;}
#mainnavigation .link {position:absolute; top: 85px; display: block; width: 100%; text-align: center; font-family: Museo-500; font-size:17px; line-height:17px; text-decoration:none; color:#333;}
#mainnavigation .shapes {width: 52px; height: 52px;  background: url('../img/sprites/shapes.png') no-repeat 0 0; margin: 20px auto 0 auto;}
#mainnavigation .yellow .shapes {background-position: -962px 0;}
#mainnavigation .red .shapes {background-position: -962px -240px;}
#mainnavigation .green .shapes {background-position: -962px -482px;}
#mainnavigation .blue .shapes {background-position: -962px -721px;}


.home #header .logo {width: 375px; margin: 95px auto 0 auto;}
.home #header .logotype { width: 303px; height: 54px; background-position: 0 0; margin: 0 auto 38px auto;}
.home #header .logotype.red { background-position: 0 -60px; }
.home #header .logotype.yellow { background-position: 0 -120px; }
.home #header .logotype.green { background-position: 0 -180px; }
.home #header .logotype.blue { background-position: 0 -240px; }

.home #header .description { width: 375px; font-size: 20px; text-align: center;}

.home #mainnavigation { margin-top:25px;}
.home #mainnavigation ul { width: 875px;}
.home #mainnavigation li { width: 232px; height: 300px; margin: 0 -22px 0 0; background: none; border:none;}

.home #mainnavigation li:last-child {margin: 0 0 0 0;}
.home #mainnavigation .shapes {width: 232px; height: 232px; margin:0; background: none;}
.home #mainnavigation .a,
.home #mainnavigation .b,
.home #mainnavigation .c,
.home #mainnavigation .d { position: absolute;  width:232px; height: 232px;  background: url('../img/sprites/shapes.png') no-repeat 0 0;}
.home #mainnavigation .yellow .a {background-position: 0 0;}
.home #mainnavigation .yellow .b {background-position: -242px 0;}
.home #mainnavigation .yellow .c {background-position: -481px 0;}
.home #mainnavigation .yellow .d {background-position: -721px 0;}

.home #mainnavigation .red .a {background-position: 0 -240px;}
.home #mainnavigation .red .b {background-position: -242px -240px;}
.home #mainnavigation .red .c {background-position: -481px -240px;}
.home #mainnavigation .red .d {background-position: -721px -240px;}

.home #mainnavigation .green .a {background-position: 0 -482px;}
.home #mainnavigation .green .b {background-position: -242px -482px;}
.home #mainnavigation .green .c {background-position: -481px -482px;}
.home #mainnavigation .green .d {background-position: -721px -482px;}

.home #mainnavigation .blue .a {background-position: 0 -721px;}
.home #mainnavigation .blue .b {background-position: -242px -721px;}
.home #mainnavigation .blue .c {background-position: -481px -721px;}
.home #mainnavigation .blue .d {background-position: -721px -721px;}

.home #mainnavigation .link {top: 100px;  font-size:27px; line-height:27px; color:#fff;}

/* HOMEPAGE -------------------------------------------------------------------*/
#curlybrace {width: 610px; height: 30px; margin: 20px auto 20px auto;}
#curlybrace div {float:left; background:none; border:solid 1px #bbb; width:150px; margin:0; padding:0}
#curlybrace .outer { border-top: none; height:20px; margin: 0 0 10px 0;}
#curlybrace .inner { border-bottom: none; height:10px; margin: 20px 0 0 0;}
#curlybrace .outer.left { border-right: none;
	border-radius: 0px 0px 0px 20px;
	-moz-border-radius: 0px 0px 0px 20px;
	-webkit-border-radius: 0px 0px 0px 20px;
}
#curlybrace .outer.right { border-left: none;
	border-radius: 0px 0px 20px 0px;
	-moz-border-radius: 0px 0px 20px 0px;
	-webkit-border-radius: 0px 0px 20px 0px;
}
#curlybrace .inner.left { border-left: none;
	border-radius: 0px 10px 0px 0px;
	-moz-border-radius: 0px 10px 0px 0px;
	-webkit-border-radius: 0px 10px 0px 0px;
}
#curlybrace .inner.right { border-right: none;
	border-radius: 10px 0px 0px 0px;
	-moz-border-radius: 10px 0px 0px 0px;
	-webkit-border-radius: 10px 0px 0px 0px;
}

#main p.text {display:block; width:420px; margin:0 auto 60px auto; text-align: center; font-size: 15px; line-height: 19px;}








/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
